*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Material Symbols Outlined', sans-serif;
}
.Aboutus{
    height: 100vh;
    width: 100%;
    background-color: beige;
    background-size: cover;
    background-position: center;
}

nav{
    position: sticky;
    top: 0;
    background-color: rgb(239, 182, 182);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;

}


.header-wrapper__main-img{
    margin-right: 0px;
}
.logo{
    color: rgb(190, 111, 111);
    font-size: 28px;

}
span{
    color: black;
}
nav u1 li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;

}
nav u1 li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

nav u1 li a:hover{
    color: rgb(216, 123, 123);
    transition: .3s;
}

.about{
    width: 100%;
    padding: 100px;
    background-color: beige;

}
 .about img{
    height: auto;
    width: 500px;

    
 }
.about-text{
    width: 550px;

}
.about-text p a{
    float: left;
    margin-left: 0;
    padding: auto;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about-text h2{
    color: rgb(242, 152, 152);
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;

}
.about-text h5{
    color: rgb(236, 114, 20);
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text p{
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: rgb(219, 128, 128);
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;

}
button:hover{
    background-color: transparent;
    border: 2px solid rgb(219, 128, 128);
    cursor: pointer;
} 

footer{
    position: relative;
    width: 100%;
    margin-top: 150px;
    height: 300px;
    background: #dd8686;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;

}


.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e0b9b9;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;

}
.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}
